*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:sans-serif;
    font-size: 14px;
}

body{ 
    display: flex;
    /*background-color: black;*/
    background-image: url(img/oi.jpg);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.painel{
    display: flex;
    width: 100%;
    height: 100vh;
    /*background-color:indigo;*/
    background-image: url(img/oi.jpg);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.botoes{
    display: flex;
    white-space: nowrap;
    width: 100%;
    height: 7%;
    margin-bottom: 120px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.vista{
    display: flex;
    width: 90%;
    height: 60%;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.entrada{
    margin-top: 65px;
    display: flex;
    white-space: nowrap;
    width: 10%;
    justify-content: space-around;
}

.in{
    padding: 15px 30px 15px 30px;
    border: 1px solid lightgray;
    margin-right: 4px;
    opacity: 0.8;
}

.out{
    padding: 15px 30px 15px 30px;
    border: 1px solid lightgray;
    margin-left: 4px;
    opacity: 0.8;
}

.log-in{
    color: white;
}

.sign-up{
    color: white;
}

.homepage{
    background-color: rgba(0,0,0);
    padding: 25px 100px 25px 300px;
    margin-right: 1px;
}

.lsb{
    background-color: rgb(0, 0, 0);
    padding: 25px 100px 25px;
    margin-right: 1px;
}


.rsb{
    background-color: black;
    padding: 25px 100px 25px;
    margin-right: 1px;
}

.nsb{
    background-color: black;
    padding: 25px 300px 25px 70px;
    margin-right: 1px;
}


.hp{
    color: #ccc;
    font-family: sans-serif;
}

.ls{
    color: #ccc;
    font-family: sans-serif;

}

.rs{
    color: #ccc;
    font-family: sans-serif;

}

.ns{
    color:#ccc;
    font-family: sans-serif;

}

.linear{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.L{
    color: whitesmoke;
    size: 70px;
    font-size: 100px;
}

.yl{
    color:#ccc;
    font-size: 25px;
    font-style: italic;
    opacity: 80%;
}
